# Architecture and target configs
CONFIG_TARGET_LOGOSNICORE8=y
CONFIG_ARCH_MX6=y
CONFIG_MX6S=y
CONFIG_ARM=y
CONFIG_ARCH_MISC_INIT=y

CONFIG_VERSION_VARIABLE=y

# Memory and address settings
CONFIG_SYS_TEXT_BASE=0x17800000
CONFIG_SYS_MALLOC_F_LEN=0x4000
CONFIG_NR_DRAM_BANKS=1

# Enabled the board_Early_init function to set up GPIO and UART for early testing
CONFIG_BOARD_EARLY_INIT_R=y
# enable board late init
CONFIG_BOARD_LATE_INIT=y

# Enable LTO - enabled for release - removes debug functionality
CONFIG_LTO=y
CONFIG_OF_EMBED=n

# Support fit image
CONFIG_LOAD_FIT=y
CONFIG_LEGACY_IMAGE_FORMAT=n

# Boot from eMMC Card
CONFIG_SUPPORT_EMMC_BOOT=y

# Block Devices
CONFIG_BLK=y

# Environment Support
CONFIG_ENV_IS_NOWHERE=y
CONFIG_ENV_ACCESS_IGNORE_FORCE=y
CONFIG_ENV_WRITEABLE_LIST=y
CONFIG_ENV_APPEND=y
CONFIG_ENV_IS_IN_MMC=y
CONFIG_SYS_MMC_ENV_DEV=0
CONFIG_SYS_MMC_ENV_PART=1
CONFIG_SYS_REDUNDAND_ENVIRONMENT=y
# Last 64 KB off first eMMC boot partition is for user environment variables.
# Two 32 KB areas for redundancy.
CONFIG_ENV_SIZE=0x8000
# Negative value means backwards from the end.
CONFIG_ENV_OFFSET=0xFFFF0000
CONFIG_ENV_OFFSET_REDUND=0x1F8000

# Add startup scripts before boot in misc_init_r()
CONFIG_MISC_INIT_R=y

# Additional Options
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/logos/nicore8/nicore8.cfg,DDR_MB=512"

# Config eMMC
CONFIG_MMC=y

# I2C multi bus support
CONFIG_I2C_MULTI_BUS=y

# set to -2 to autoboot with no delay and not check for abort
CONFIG_BOOTDELAY=-2

# Watchdog Configs
# This config changes reset time - after calling reset it will wait until timeout
CONFIG_WATCHDOG_TIMEOUT_MSECS=10
CONFIG_IMX_WATCHDOG=y
CONFIG_SYSRESET_WATCHDOG=y
CONFIG_WDT_CDNS=y

# Config Boot Count - Save in FRAM - I2C bus 3
CONFIG_SYS_BOOTCOUNT_ADDR=0x10008000
CONFIG_SYS_BOOTCOUNT_I2C_BUS=3
CONFIG_SYS_BOOTCOUNT_I2C_ADDR=0x51
CONFIG_BOOTCOUNT_ALEN=2
CONFIG_BOOTCOUNT_LIMIT=y
CONFIG_BOOTCOUNT_BOOTLIMIT=3
CONFIG_BOOTCOUNT_I2C=y

# HAB - High Assurance Boot
CONFIG_IMX_HAB=y
CONFIG_SECURE_BOOT=y

# Enable the hush shell, if, then, else logic in scripts
CONFIG_HUSH_PARSER=y

# Freescale/NXP i.MX uSDHC/eSDHC controller support
CONFIG_FSL_USDHC=y
CONFIG_FSL_ESDHC_IMX=y

# Configurations of device tree - Make it possible to do runtime configuration via the device tree (uncomment to use device tree)
CONFIG_OF_CONTROL=y

# Enable Flattened Image Tree support
CONFIG_FIT=y

# Set default Device Tree
CONFIG_DEFAULT_DEVICE_TREE="imx6dl-nicore8"

# Driver models - (DM)'s
CONFIG_DM=y
CONFIG_DM_GPIO=y
CONFIG_DM_MMC=y
CONFIG_DM_I2C=y
CONFIG_DM_SERIAL=y
# DM Watchdog support
CONFIG_WDT=y

# Commands
CONFIG_CMD_I2C=y
CONFIG_CMD_MMC=y

# Read and display information about the partition table on various media.
CONFIG_CMD_PART=y
CONFIG_CMD_FS_GENERIC=y
CONFIG_CMD_FAT=y
CONFIG_CMD_BMODE=n
CONFIG_CMD_ECHO=y

# Serial Available
CONFIG_SERIAL_PRESENT=y
CONFIG_MXC_UART=y

# Silence the Console
CONFIG_SILENT_CONSOLE=y
CONFIG_SILENT_U_BOOT_ONLY=y
CONFIG_SILENT_CONSOLE_UPDATE_ON_SET=y

# OP-TEE Configurations
CONFIG_TEE=y
CONFIG_OPTEE=y
CONFIG_OPTEE_IMAGE=y
CONFIG_SUPPORT_EMMC_RPMB=y
CONFIG_BOOTM_OPTEE=y
CONFIG_OPTEE_LIB=y

# OP-TEE load address
CONFIG_OPTEE_LOAD_ADDR=0x2E000000
CONFIG_OPTEE_TZDRAM_SIZE=0x01e00000
CONFIG_OPTEE_TZDRAM_BASE=0x2E000000
CONFIG_OF_LIBFDT=y

###############################################################################################
## -------------------- Undefine unneeded Settings in this section --------------------------##
###############################################################################################

## Remove Unneeded Configs
CONFIG_CMD_BOOTEFI=n
CONFIG_CMD_BOOTEFI_HELLO_COMPILE=n
CONFIG_CMD_ELF=n
CONFIG_CMD_FDT=n

# Disable the Command Line interface - If this is disabled we cant use Commands in U-Boot prod.
CONFIG_CMDLINE=y # TODO test if this can be set to 'n'. Is environment evaluated anyway? Propably required for scripts...
CONFIG_CMDLINE_EDITING=n

## Unneedded Network Commands
CONFIG_NET=n
CONFIG_CMD_NET=n
CONFIG_NETDEVICES=n
CONFIG_CMD_BOOTP=n
CONFIG_BOOTP_BOOTPATH=n
CONFIG_BOOTP_DNS=n
CONFIG_BOOTP_GATEWAY=n
CONFIG_BOOTP_HOSTNAME=n
CONFIG_BOOTP_SUBNETMASK=n
CONFIG_CMD_TFTPBOOT=n
CONFIG_NET_TFTP_VARS=n
CONFIG_CMD_NFS=n
CONFIG_CMD_BDI=n
CONFIG_CMD_CONSOLE=n
CONFIG_FEC_MXC=n

# Unneeded Boot Commands
CONFIG_CMD_BOOTD=n
CONFIG_BOOTM_NETBSD=n
CONFIG_BOOTM_PLAN9=n
CONFIG_BOOTM_RTEMS=n
CONFIG_BOOTM_VXWORKS=n
CONFIG_CMD_IMI=n
CONFIG_CMD_XIMG=n
CONFIG_CMD_RANDOM=n
CONFIG_CMD_SLEEP=n

# Disable Graphics Support
CONFIG_DM_VIDEO=n
CONFIG_BACKLIGHT=n
CONFIG_CMD_VIDCONSOLE=n
CONFIG_VIDEO_BPP8=n
CONFIG_VIDEO_BPP16=n
CONFIG_VIDEO_BPP32=n
CONFIG_VIDEO_ANSI=n
CONFIG_CONSOLE_NORMAL=n
CONFIG_PANEL=n
CONFIG_SIMPLE_PANEL=n

# Disable EEPROM
CONFIG_CMD_EEPROM=n

# Disable Console
CONFIG_REQUIRE_SERIAL_CONSOLE=y
CONFIG_SPECIFY_CONSOLE_INDEX=y
#CONFIG_SYS_CONSOLE_INFO_QUIET=n
CONFIG_DISPLAY_CPUINFO=n
CONFIG_DISPLAY_BOARDINFO=n

# Disable CMD
CONFIG_AUTO_COMPLETE=n
CONFIG_SYS_LONGHELP=n
CONFIG_SYS_XTRACE=n
CONFIG_CMD_DEKBLOB=n

# Disable the Hash CMD
CONFIG_CMD_HASH=n

# Disable Compression Support
CONFIG_GZIP=n
CONFIG_ZLIB=n

# Disable Printf
CONFIG_PRINTF=n
CONFIG_SPRINTF=n
