CONFIG_ARM=y
CONFIG_ARCH_MX6=y
CONFIG_MX6S=y
CONFIG_TARGET_LOGOSNI8=y
CONFIG_BOARD_EARLY_INIT_F=y
CONFIG_MXC_UART=y

CONFIG_SYS_TEXT_BASE=0x17800000
CONFIG_SYS_MALLOC_F_LEN=0x4000
CONFIG_NR_DRAM_BANKS=1
CONFIG_SYS_MEMTEST_START=0x10000000
CONFIG_SYS_MEMTEST_END=0x10010000